<div class="content ">

  <!-- Wrapper -->
  <div class="layout-wrapper row ">

    <!-- Side Navigation-->


    <!-- Dashboard -->
    <div class="col-md">

      <!-- Dashboard count START -->
      <div class="row , dash-count-padding" >
        <div class="col-md col-sm dashboard-item">
          <div class="btn db-itm" style="width: 100%;height: 120px;">
            <div>
              <i class="fa fa-3x fa-comments-o"></i>
              <div>
                <h6>Messages</h6>
                <h3>25</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md col-sm dashboard-item">
          <div class="btn db-itm" style="width: 100%;height: 120px;">
            <div>
              <i class="fa fa-3x fa-wheelchair"></i>
              <div>
                <h6>Patients</h6>
                <h3>2545</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md col-sm dashboard-item">
          <div class="btn db-itm" style="width: 100%;height: 120px;">
            <div>
              <i class="fa fa-3x fa-line-chart"></i>
              <div>
                <h6>Analysis</h6>
                <h3></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md col-sm dashboard-item">
          <div class="btn db-itm" style="width: 100%;height: 120px;">
            <div>
              <i class="fa fa-3x fa-stethoscope"></i>
              <div>
                <h6>Medicines</h6>
                <h3>0</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md col-sm dashboard-item">
          <div class="btn db-itm" style="width: 100%;height: 120px;">
            <div>
              <i class="fa fa-3x fa-user-md"></i>
              <div>
                <h6>Doctors</h6>
                <h3>125</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md col-sm dashboard-item">
          <div class="btn db-itm" style="width: 100%;height: 120px;">
            <div>
              <i class="fa fa-3x fa-heartbeat"></i>
              <div>
                <h6>Operations</h6>
                <h3>25</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Dashboard count END -->
      <div style="width: 100%;margin-bottom: 10px;"></div>
      <div class="col-md-6" style="padding: 0;">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Shanaka</td>
            <td>Madushanka</td>
            <td>26</td>
            <td>Dodangoda, Kalutara South</td>
            <td class="text-center">
              <button class="btn  act-btn" ><i class="fa fa-remove"></i></button>
            </td>
          </tr>
          <tr>
            <td>Shanaka</td>
            <td>Madushanka</td>
            <td>26</td>
            <td>Dodangoda, Kalutara South</td>
            <td class="text-center">
              <button class="btn  act-btn"><i class="fa fa-remove"></i></button>
            </td>
          </tr>
          <tr>
            <td>Shanaka</td>
            <td>Madushanka</td>
            <td>26</td>
            <td>Dodangoda, Kalutara South</td>
            <td class="text-center"><button class="btn  act-btn"><i class="fa fa-remove"></i></button></td>
          </tr>
          <tr>
            <td>Shanaka</td>
            <td>Madushanka</td>
            <td>26</td>
            <td>Dodangoda, Kalutara South</td>
            <td class="text-center"><button class="btn  act-btn"><i class="fa fa-remove"></i></button></td>
          </tr>
          <tr>
            <td>Shanaka</td>
            <td>Madushanka</td>
            <td>26</td>
            <td>Dodangoda, Kalutara South</td>
            <td class="text-center"><button class="btn  act-btn"><i class="fa fa-remove"></i></button></td>
          </tr>
          <tr>
            <td>Shanaka</td>
            <td>Madushanka</td>
            <td>26</td>
            <td>Dodangoda, Kalutara South</td>
            <td class="text-center"><button class="btn  act-btn"><i class="fa fa-remove"></i></button></td>
          </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>


