<div class="content" style="padding: 15px;">
  <div class="row">


    <div style="width: 10%;" class="col-md-2">

      <div>

        <ul class="account-sett">
          <li class="li-start">
            <i class="fa fa-credit-card"></i>
            <label>Income</label>
          </li>
          <li>
            <i class="fa fa-flag"></i>
            <label>Expenses</label>
          </li>
          <li>
            <i class="fa fa-flag"></i>
            <label>Ledger</label>
          </li>
          <li>
            <i class="fa fa-wrench"></i>
            <label>Tools</label>
          </li>
          <li>
            <i class="fa fa-flag"></i>
            <label>Admin</label>
          </li>
          <li>
            <i class="fa fa-bar-chart"></i>
            <label>Reports</label>
          </li>
          <li class="li-end">
            <i class="fa fa-flag"></i>
            <label>Summary</label>
          </li>
        </ul>

      </div>

    </div>


    <!-- Supplier Payments -->
    <div style="width: 90%;background: #fff;padding: 15px;" class="col-md-10">
      <h5>Supplier Payment</h5>

      <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <input type="text" placeholder="Supplier ID" class="input-box col-md-12">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Account number" class="input-box col-md-12">
        </div>
        <div class="form-group">
          <input type="text" placeholder="Value" class="input-box col-md-12">
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <input type="text" placeholder="Disabled input" class="input-box col-md-12 disabled">
        </div>
        <div class="form-group text-right">
          <button class="btn btn-success col-md-6">Pay</button>
        </div>
      </div>
      </div>


      <div>
        <h5>table</h5>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Supplier Name</th>
            <th scope="col">NIC</th>
            <th scope="col">Contact number</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
            <td>S.H.Shanaka Madushanka</td>
            <td>920491553v</td>
            <td>076-6254532</td>
            <td>
              <i class="fa fa-check"></i> &nbsp;
            </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Nalaka Sampath Jayasinghe</td>
            <td>920401555v</td>
            <td>077-5522565</td>
            <td>
              <i class="fa fa-remove"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>S.A.Kasun Chamara</td>
            <td>255544545V</td>
            <td>062-5544558</td>
            <td>
              <i class="fa fa-remove"></i>
            </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Irosh Madushan Gammanpila</td>
            <td>1545454554V</td>
            <td>069-8899558</td>
            <td>
              <i class="fa fa-check"></i>
            </td>
          </tr>

          </tbody>
        </table>

      </div>


      <div class="form-group">
        <h5>Buttons</h5>

        <div class="form-group">
          <button class="btn btn-warning">Warning</button>
          <button class="btn btn-success">Success</button>
          <button class="btn btn-primary">Primary</button>
          <button class="btn btn-danger">Danger</button>
          <button class="btn btn-disabled">Button Disabled</button>
        </div>
        <div class="form-group">
          <button class="btn btn-warning-bordered">Warning Bordered</button>
          <button class="btn btn-success-bordered">Success Bordered</button>
          <button class="btn btn-primary-bordered">Primary Bordered</button>
          <button class="btn btn-danger-bordered">Danger Bordered</button>
          <button class="btn btn-disabled-bordered">Button Disabled Bordered</button>
        </div>

        <div>
          <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
            Toggle Button
          </button>
        </div>
      </div>

      <div>
        <h5>Check Boxes</h5>
        <div class="block">
          <input type="checkbox" title=""/>
          <span class="check-ic"></span>
        </div>
      </div>





    </div>



  </div>

</div>
