<div class="container-fluid" style="background: #f9f9f9;    max-height: 800px;
    height: 600px;">

  <div class="row">

    <div class="col-md-3"></div>
    <div class="col-md-6 text-center" style="padding: 10px 0;">

      <div>
        <img src="./assets/images/logo-2.png" style="width: 160px;">
      </div>

      <div>
        <h5 class="login-title-2" >Forgot Password</h5>
      </div>
      <form [formGroup]="forgotPasswordForm">
        <div id="form" style="width: 420px;margin: 0 auto;background: #fff;box-shadow: 0 0 5px #dbdbdb;padding: 20px;border-radius: 7px;">
          <fieldset class="field-set-color">
            <legend style="color: #444">User Name / Email</legend>
            <input type="text" class="form-control login-input lgn-inp" formControlName="userName" >
          </fieldset>

          <!--<div class="login-error-bg animated shake" *ngIf="isLoginError">-->
            <!--<p class="login-error">{{loginErrorMessage}}</p>-->
          <!--</div>-->

          <button class="btn btn-login" style="width: 100%;font-size: 14px;font-weight: 800;margin-top: 10px;" (click)="requestPasswordReset()">
            Get Reset Link
          </button>

          <div>
            <a href="#" routerLink="/login" style="text-decoration: none;">Back To Login</a>
          </div>
        </div>
      </form>



    </div>
    <div class="col-md-3"></div>

  </div>

</div>
