<div class="content , dash3 " >

  <div class="row">
    <div>
      <h5>Chart</h5>
      <div class="chart-content">
        <div class="text-center">
          <h6>Monthly income</h6>
        </div>
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                [options]="pieChartOptions"
                [colors]="colors">
        </canvas>
      </div>


      <br>
      <br>
      <br>
      <br>

      <!--<div style="width: 500px;">-->
        <!--<canvas baseChart-->
                <!--[data]="pieChartData"-->
                <!--[labels]="pieChartLabels"-->
                <!--[chartType]="chartType"-->
                <!--[options]="pieChartOptions"-->
                <!--(chartHover)="chartHovered($event)"-->
                <!--(chartClick)="chartClicked($event)">-->
        <!--</canvas>-->
      <!--</div>-->

      <br>
      <br>
      <br>
      <br>

      <!--<div style="width: 500px;">-->
        <!--<canvas baseChart-->
                <!--[data]="pieChartData"-->
                <!--[labels]="pieChartLabels"-->
                <!--[chartType]="chartType2"-->
                <!--[options]="pieChartOptions"-->
                <!--(chartHover)="chartHovered($event)"-->
                <!--(chartClick)="chartClicked($event)">-->
        <!--</canvas>-->
      <!--</div>-->

    </div>
  </div>


</div>
