@import "../../../assets/css/common"

.recent-item
  font-size: 12px
  background: #efefef
  padding: 4px
  margin-bottom: 3px
  color: #048eab


.dash-product
  text-align: center
  background: #fff
  padding: 15px
  border-radius: 3px
  margin: 0 4px

.dash-product:hover
  //border: 1px solid #0795b5
  background: rgba(40, 128, 142, 0.25)
  .dash-itm > h2
    color: #005d68 !important
  .dash-itm > h4
    color: #005d68 !important

.dash-itm
  text-decoration: none

